@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --handWrittenFont: 'Sacramento', cursive;
    --letterSpacing: 2px;
    --primaryColor: #cfb439;
    --secondaryColor: #b7b3be;
    --mainWhite: #fff;
    --mainTransition: all .3s ease-in-out
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* social links */
.social-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 30px;
}

.social-wrapper {
    display: inline-flex;
}

.social-links {
    color: var(--primaryColor);
    text-decoration: none;
    margin-left: 18px;
    font-size: 18px;
    display: inline-block;
    text-align: right;
    transition: var(--mainTransition);
}

.social-links:hover {
    color: var(--mainWhite);
    padding-top: 5px;
}
/* end social links */

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url(./images/bg_img.jpeg) center/cover no-repeat fixed;
    min-height: 100vh;
    position: relative;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-title{
    text-transform: capitalize;
    color: var(--primaryColor);
    font-size: 64px;
    font-weight: bold;
    transition: var(--mainTransition);
    /* animation */
    animation: falling 5s ease-in-out 1;
}

.banner-subtitle{
    color: var(--mainWhite);
    text-transform: capitalize;
    font-size: 24px;
    font-family: var(--handWrittenFont);
    color: var(--mainWhite);
    font-size: 40px;
    letter-spacing: var(--letterSpacing);
    /* animation */
    animation:  bounce-header 3s ease-in-out 1;
    transition: var(--mainTransition);
}

.pencil-icon{
    color: var(--primaryColor);
    font-size: 32px;
}

.pencil-icon .fa{
    transition: var(--mainTransition);
    /* animation */
    animation: slider 3s ease-in-out 5.5s infinite;
}

.header-btn{
    margin-top: 60px;
}

.main-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--primaryColor);
    background: var(--mainWhite);
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: var(--letterSpacing);
    outline: 1px solid var(--primaryColor);
    outline-offset: 3px;
    border-radius: 10px;
    transition: var(--mainTransition);
    /* animation */
    animation: bounce-btn 3s ease-in-out 1;
}

.main-btn:hover{
    transform: scale(0.9);
    opacity: 0.8;
}

/* animation */
@keyframes slider {
    0%{
        
        font-size: 20px;
    }
    50%{
        padding-left: 20px;
        font-size: 30px;
        filter: hue-rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
        font-size: 20px;
    }
}

@keyframes falling {
    0% {
        transform: translateY(-1000px);
    }

    50% {
        transform: translateY(40px);
    }

    75% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce-header {
    0% {
        transform: translateY(1000px);
    }

    50% {
        transform: scale(1.5);
        filter: blur(10px);
    }

    100% {
        transform: scale(1);
        color: var(--mainWhite);
    }
}

@keyframes bounce-btn {
    0% {
        transform: translateY(1000px);
    }

    50% {
        transform: scale(1.5);
        filter: blur(10px);
    }

    100% {
        transform: scale(1);
        color: var(--mainWhite);
    }
}

@keyframes spin {
    0%, 100%{
        transform: translate(0);
    }
    25%{
        transform: translate(160%);
        filter: hue-rotate(280deg);
    }
    50%{
        transform: translate(160%,160%);
        
    }
    75%{
        transform: translate(0, 160%);
        
    }
}
/* end animation */
/* end header */
